*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: 0;
    font-family: "Jost", sans-serif;
}

:root{
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #ae8957;
    --second-color: #666666;
    --other-color: #95949a;
    --second-bg-color: #f5f5f5;
    --h1-font: 5rem;
    --h2-font: 4rem;
    --hs-font: 2rem;
    --p-font: 1.1rem;
   
}

body{
    background: var(--bg-color);
    background-color: #FFFFF7;
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all .50s ease;
}


.logo{
    width: 25vh;
    height: auto;
}


.logo{
    font-size: 35px;
    font-weight: 700;

    color: var(--text-color);
}

.navlist{
 
    display: flex;
}

.navlist a{
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 25px;
    color: var(--text-color);

    transition: all .6s ease;
}

.navlist a:hover{
    color: var(--main-color);
    transform: translateY(-5px);
}



section{
    margin-top: 40px;
    padding: 85px 18% 65px;
}

.home{
    position: relative;
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    margin-bottom: 2rem;
    gap: 10rem;
}

.home-img img{
   
   height: 500px;
   
   width: 450px;
  
}

.home-text h1{
    font-size: var(--h1-font);
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-family: 'Jost', serif;
}

.home-text p{
    max-width: 370px;
    font-weight: var(--p-font);
    line-height: 32px;
    color: var(--main-color);
    
}




.center-text{
    text-align: center;
}

.center-text strong{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--main-color);
    font-family: "Jost", sans-serif;
}

.center-text h2{
    font-family: 'Jost', serif;
    font-size: var(--h2-font);
    font-weight: 900;
}

.qua-content{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2.5rem;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.box{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box:hover{
    
    background-color: #7bc8ff;
    border-radius: 0px 0px 300px 300px;
    transform: translateY(-5px);
}
.box-img{
    width: 190px;
    height: 190px;
}

.box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box h3{
    margin: 15px 0;
    font-size: 25px;
    font-weight: 900;
}

.box p{
    font-size: var(--p-font);
    line-height: 30px;
    color: var(--main-color);
}


.github{
    margin-top: -95px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

}

.btn{
    display: inline;
    padding: 12px 26px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: bold;
    border-radius: 0.7rem;
    transition: all ease .50s;
}

.btn:hover{
   transform: scale(1.1) translateY(-5px);
}

.git-img img{
    height: auto;
    width: 100%;
}
.git-img img:hover{
    transform: translateY(-5px);
    background-color: linear-gradient(rgba(36,41,46) 0%, rgba(43,49,55) , rgba(250,251,252),rgba(255,255,255), rgba(45,186,78));
}




.text{
    font-size: var(--hs-font);
    font-weight: 900;
    line-height: 1.2;
    margin: 30px 0;
    font-family: "Jost", serif;
}

.text p{
    max-width: 450px;
    font-size: var(--p-font);
    line-height: 32px;
    color: var(--other-color);
    margin-bottom: 2rem;
}

.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, auto));
    
    
}

.icons i{
   height: 35px;
   width: 35px;
   background-color: var(--main-color);
   color: var(--bg-color);
   font-size: 18px;
   margin-right: 8px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border-radius: 0.5rem;
   transition: all 0.50s ease;
}

.icons i:hover{
    transform: translateY(-5px);
    background: var();
    color: var(--text-color);
}

.contact-box {
    font-size: 18px;
    font-weight: 900;
    font-family: 'Jost', serif;
    margin-bottom: 20px;
}

.contact-box li{
    margin-bottom: 13px;
}

.contact-box li a{
    display: block;
    color: var(--other-color);
    font-size: var(--p-font);
    transition: all ease .50s;
} 

.contact-box li a:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateX(0px);
    opacity: 1;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    
    background: #b3f2ff;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#ffdbac, #e769ff, #00d4ff);
    border-radius: 10px;
}
